@font-face {
    font-family: 'luna';
    font-style: normal;
    font-weight: normal;
    src: local('luna'), url('Luna.woff') format('woff');
}

html{
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-family: 'luna' !important;
    text-decoration: none !important;
    /* font-family: 'Rock Salt', cursive !important; */
}

body{
    color: #fff;
    margin: 0;
    padding: 0;
}

main{
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'luna';
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* ---------------
    PARALLAX CSS 
------------------*/

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;

}

header h1{
    margin-top: -100px;
    color: #fff;
    /* font-family: 'Luna'; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Rock Salt', cursive; */
    padding-bottom: 40px;
}


@media (max-width:450px){
    #container-1-left{
        margin-top: 50px;
    }
    header h1{
        margin-top: 10vh;
    }
}


header p{
    color: #fff;
    font-family: 'luna';
}

header a{
    text-decoration: none;
    color: bisque;
    font-size: 10px;
    
}
header, header::before{
    background: 50% 50% / cover;
    height: 100vh;
}
header::before{
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    right:0;
    top:0;
    display: block;
    background-image: url('bg3.jpg');
    background-size: cover;
    transform-origin: center center;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    height: 100vh;
}



#second-header::before{
    background-image: url('bg1.jpg');
}

header *{
    letter-spacing: 0.2em;
}


/* ---------------
    NAVBAR / HEADER CSS 
------------------*/
.head{
    position: fixed;
    background: rgba(0,0,0,0.2);
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    color: white;
    font-family: 'luna';
}

.head-span-right{
    padding: 25px 15px;
    float: right;
}
.head-span-left{
    padding: 10px;
    line-height: 60px;
    font-size: 40px;
    color: #f1c40f;
}

/* ---------------------
    BUTTON ANIMATION CSS 
-----------------------*/
.btn-icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background: white; */
    margin: 10px;
    color: white;
    overflow: hidden;
    position: relative;
    transform: rotate(45deg);
    text-align: center;
}
.btn-icon i{
    font-size: 20px;
    line-height: 50px;
    transition: 0.2s linear;
}

.btn-icon:hover i{
    color: white;
    display: block;
    transform: scale(1.2);
}

.btn-icon span{
    transform: rotate(-45deg);
    display: block;
    height: 125%;
    width: 125%;
    margin-top: -13%;
    margin-left: -13%;
}
.btn-icon::before{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 120%;
    width: 120%;
    border-radius: 30px;
    top: 90%;
    left:-110%;
}
.btn-icon:hover::before{
    animation: aaa 1s 1;
    top: -13%;
    left:-13%;
}

@keyframes aaa { 
    0%{
        top: 90%;
        left:-110%;
    }
    50%{
        top: -30%;
        left:10%;
    }
    100%{
        top: -13%;
        left:-13%;
    }
}

/* ---------------
    MAIN BODY CSS 
------------------*/
.section{
    min-height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: white; */
    background: #333;
    padding-top: 50px;
    color: white;
    position: relative;
    z-index: 101;
}
#container-1-left{
    align-items: center;justify-content: center; height: 100vh; display: flex;
    font-family: 'luna';
    
}
#container-1-left h1{
    line-height: 80px;
}
#container-1-right{
    padding: 20vh 5vh;
}
.my-progressbar{
    background:#f1c40f !important;
}
.my-progress-elem{
    margin: 20px 0px;
}
.dates{
    color: bisque;
    font-family: sans-serif;
}

.main-contenter{
    padding:20px 0px;
}

#constant-side{
    position: absolute;
    top: 50vh;
    transform: translate(0,-50%);
    right: 20px;
    z-index: 500;
    /* height: 100px; */
    width: 50px;
    /* background: white; */
    color: transparent;
}

#constant-side ul li{
    height: 5vh;
}

.radio-style{
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.radio-active{
    background-color: #f39c12;
}

.skills-item{
    border-left: 5px solid #e67e22;
    padding: 10px 20px;
    margin: 20px 2.5px;
    /* border-radius: 5px; */
    font-size: 16px;
    letter-spacing: 0.2em;
    /* line-height: 25px; */
    font-family: sans-serif;
}
.skills-item-span::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f1c40f;
    position: absolute;
    margin-top: -15px;
}

.experience-item{
    border-left: 5px solid #16a085;
    padding: 10px 20px;
    margin: 20px 2.5px;
    /* border-radius: 5px; */
    font-size: 14px;
    letter-spacing: 0.2em;
    /* line-height: 25px; */
    font-family: sans-serif;
}
.experience-item-span::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #3498db;
    position: absolute;
    margin-top: -15px;
}


/* ---------------
    FOOTER CSS 
------------------*/

.footer{
    min-height: 15vh;
    max-height: 20vh;
    text-align: center;
    padding: 10px 0px;
    background: #455;
}

.footer-text{
    font-size: 10px;
    font-weight: 100;
    padding-bottom: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'luna';
    color: bisque;
}
