*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lobster', bold;
    box-sizing: border-box;
    font-weight: 900;
}
textarea, select, input, button { outline: none; }

body{
    min-height: 100vh;
    /* background-image: linear-gradient(120deg,#3498db,#2ecc71);    */
    background: url('sea.svg') no-repeat;
    background-size: cover;
    color: #333;
    /* font-size: 5vw; */
}

a{
    color: #333;
    text-decoration: none;
}

nav{
    padding: 50px;
}

nav ul{
    list-style-type: none;
    float: right;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #333;
    padding: 0 30px;
}

#logo{
    font-size: 3vw;
    font-weight: 900;
}

#logo img{
    width: 200px;
    margin-top: -20px;
    margin-left: -50px;
}

.container{
    width: 60%;
    text-align: center;
    margin: 80px auto;    
}

h1{
    font-size: 10vw;
    line-height: 120px;
    padding-top: 40vh;
}

  footer{
    margin:0;
    text-align: right;
    font-style: italic;
  }